body{
    background-color:#F9F4E8 ;
}
.nav{
    background-color: #F9F4E8 !important;
    color:black;
}
.footer{
    background-color: #f9f4e8;
}

.hero-img{
     
    background-image:url('./images/Blue\ Shape.svg'),url('./images/Pink\ Shape.svg'),url('./images/Purple\ Shape.svg');
    background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left top,center top, right bottom;
  background-size: 34% 100%, 34% 100%, 33% 100%;
  width:500px;
  height:700px
}

 
.pink-img{
    margin-top:-450px;
    
    margin-left:-60px;
}
.purple-img{
    margin-top: -450px;
    margin-left:30px;
     
}
.main-img{
    margin-top:-400px;
    height:450px;
}